<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="IOLConnectionString" connectionString="Data Source=13.127.122.180;Initial Catalog=MOULDING;Persist Security Info=True;User ID=pandian-admin;Password=aspiration2@sep2024" providerName="System.Data.SqlClient"/>
		<add name="PHOBICConnectionString" connectionString="Data Source=13.127.122.180;Initial Catalog=MOULDING;User ID=pandian-admin;Password=aspiration2@sep2024" providerName="System.Data.SqlClient"/>
		<add name="APS_NonPreloadedConnectionString" connectionString="Data Source=13.127.122.180;Initial Catalog=PHOBIC_Preloaded;User ID=pandian-admin;Password=aspiration2@sep2024" providerName="System.Data.SqlClient"/>
		<add name="APS_NEWConnectionString" connectionString="Data Source=13.127.122.180;Initial Catalog=PHOBIC;User ID=pandian-admin;Password=aspiration2@sep2024" providerName="System.Data.SqlClient"/>
		<add name="APS_SuperphobConnectionString" connectionString="Data Source=13.127.122.180;Initial Catalog=SUPERPHOB;User ID=pandian-admin;Password=aspiration2@sep2024" providerName="System.Data.SqlClient"/>
		<add name="MOULDING_ERPConnectionString" connectionString="Data Source=13.127.122.180;Initial Catalog=MOULDING_ERP;User ID=pandian-admin;Password=aspiration2@sep2024" providerName="System.Data.SqlClient"/>
		<add name="APSConnectionString" connectionString="Data Source=THIYAGU-PC;Initial Catalog=APS;User ID=sa" providerName="System.Data.SqlClient"/>
		<add name="MOULDINGConnectionString" connectionString="Data Source=13.127.122.180;Initial Catalog=MOULDING;User ID=pandian-admin;Password=aspiration2@sep2024" providerName="System.Data.SqlClient"/>
		<add name="PHOBICConnectionString1" connectionString="Data Source=13.127.122.180;Initial Catalog=PHOBIC;User ID=pandian-admin;Password=aspiration2@sep2024" providerName="System.Data.SqlClient"/>


    <!--<add name="IOLConnectionString" connectionString="Data Source=iolserver2023;Initial Catalog=MOULDING;Persist Security Info=True;User ID=sa;Password=sachin3123!@#" providerName="System.Data.SqlClient"/>
    <add name="PHOBICConnectionString" connectionString="Data Source=iolserver2023;Initial Catalog=MOULDING;User ID=sa;Password=sachin3123!@#" providerName="System.Data.SqlClient"/>
    <add name="APS_NonPreloadedConnectionString" connectionString="Data Source=iolserver2023;Initial Catalog=PHOBIC_Preloaded;User ID=sa;Password=sachin3123!@#" providerName="System.Data.SqlClient"/>
    <add name="APS_NEWConnectionString" connectionString="Data Source=iolserver2023;Initial Catalog=PHOBIC;User ID=sa;Password=sachin3123!@#" providerName="System.Data.SqlClient"/>
    <add name="APS_SuperphobConnectionString" connectionString="Data Source=iolserver2023;Initial Catalog=SUPERPHOB;User ID=sa;Password=sachin3123!@#" providerName="System.Data.SqlClient"/>
    <add name="MOULDING_ERPConnectionString" connectionString="Data Source=iolserver2023;Initial Catalog=MOULDING_ERP;User ID=sa;Password=sachin3123!@#" providerName="System.Data.SqlClient"/>
    <add name="APSConnectionString" connectionString="Data Source=THIYAGU-PC;Initial Catalog=APS;User ID=sa" providerName="System.Data.SqlClient"/>
    <add name="MOULDINGConnectionString" connectionString="Data Source=iolserver2023;Initial Catalog=MOULDING;User ID=sa;Password=sachin3123!@#" providerName="System.Data.SqlClient"/>
    <add name="PHOBICConnectionString1" connectionString="Data Source=iolserver2023;Initial Catalog=PHOBIC;User ID=sa;Password=sachin3123!@#" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<sessionState timeout="10" cookieless="false"/>
		<!--<customErrors mode="On">
      <error statusCode="404" redirect="404Page.aspx"/>
      <error statusCode="500" redirect="500Page.aspx"/>
    </customErrors>-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral,PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<authentication mode="Windows"/>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<security>
			<requestFiltering>
				<verbs>
					<add verb="TRACE" allowed="false"/>
				</verbs>
			</requestFiltering>
		</security>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
	</system.webServer>
</configuration>
